@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@');
*{
  padding: 1px;
  margin: 0;
  box-sizing: border-box;
  font-family: Georgia, 'Times New Roman', Times, serif;
  scroll-behavior: smooth;
}
body{
  font-family: Georgia, 'Times New Roman', Times, serif;
  scroll-behavior: smooth;
  background-color: rgb(245, 227, 227);
}
a{
  text-decoration: none;
  color: inherit;
}
.app{
  width: 80%;
  margin: 10px auto;
  padding: 20px;
  color: rgb(123, 150, 141);
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }

}